/*styles.css*/
html{
    height:100%;
    background: linear-gradient(180deg,rgb(124, 176, 255),    rgb(255, 255, 203) 95%) no-repeat;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 64px;
}

#content ul{
    text-align: left;
    padding-left: 5.25em;
}

#nav, #footer {
    font-family: 'Roboto', sans-serif;
    font-size: large;

    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    
}

#content {
    margin-left: 16em;
    margin-right: 16em;
    padding-bottom: 3em;
    border: black solid;
    text-align: center;
    font-size: 25px;
}

#nav a{
    font-size: large;
    text-decoration: none;
    color: black;
}

#nav a:hover{
    color: white;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* ; */
  }
