{% extends "layout.html" %}
{% block title %}About{% endblock %}
{% block content %}
    <h1>About</h1>
    <p>This app is a simple weather app that uses the Flask framework along with the Open-Meteo API to provide a weather forecast service</p>
    <ul> <b>Technologies Used:</b> 
        <p><a href="https://www.python.org"target="_blank">Python</a></p>
        <p><a href="https://flask.palletsprojects.com/en/3.0.x/"target="_blank">Flask</a></p>
        <p><a href="https://open-meteo.com/"target="_blank">Open Meteo</a></p>
    </ul>
{% endblock %}